.list {
    display: flex;
    color: #ffff;

}
.Icons-benefit {
    gap: 10px;
    color: #fff;
}
.benefit {
    margin-left: 90px;
    cursor: pointer;
    margin-top: 10px;
    color: #fff;
}
@media (max-width: 768px) {
  .list {
    display: grid;

}
.Icons-benefit {
    gap: 10px;
}
.benefit {
    cursor: pointer;
    position: relative;
    left: -400px;
}  
.title {
    position: relative;
    text-align: center;
    left: -350px;
    color: #fff;
}
}


